﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Regisztráció";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        @if (Model.DoubleRegistryAttempt)
        {
            <p>Nem hozható létre felhasználó.</p>
        }
        else
        {
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Fiók létrehozása</button>
            </form>

        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
