﻿@model ReviewAdmin.Models.Terminal

@{
    ViewData["Title"] = "Terminál törlése";
}

<h2>Terminál törlése</h2>

<h3>Biztos, hogy törlöd? A terminálhoz tartozó válaszok is törlődnek!</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastAlive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastAlive)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Name" />
        <a asp-controller="Home" asp-action="Index" class="btn btn-info"><span data-feather="skip-back"></span> Vissza</a>
        <button type="submit" class="btn btn-danger float:right"><span data-feather="trash-2"></span> Törlés</button>
    </form>
</div>
