﻿@model ReviewAdmin.Models.Terminal

@{
    ViewData["Title"] = "Terminál módosítása";
}
<h2>Terminál módosítása</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastAlive)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastAlive)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Answers)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Answers.Count)
            </dd>
        </dl>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Name" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-controller="Home" asp-action="Index" class="btn btn-info"><span data-feather="skip-back"></span> Vissza</a>
                <button type="submit" class="btn btn-success float-right"><span data-feather="save"></span> Mentés</button>
            </div>
            <a asp-action="Delete" asp-route-id="@Model.Name" class="btn btn-danger float-right"><span data-feather="trash-2"></span> Törlés</a>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
