﻿@model ReviewAdmin.Models.Question

@{
    ViewData["Title"] = "Kérdés módosítása";
}

<h2>Kérdés módosítása</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextHun" class="control-label"></label>
                <input asp-for="TextHun" class="form-control" />
                <span asp-validation-for="TextHun" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextEng" class="control-label"></label>
                <input asp-for="TextEng" class="form-control" />
                <span asp-validation-for="TextEng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Type" class="form-control" asp-items="ViewBag.Type">
                    <option value="">-- Kérdés típusa --</option>
                </select>
                <span asp-validation-for="Type" class="text-danger" />
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-info"><span data-feather="skip-back"></span> Vissza</a>
                    <button type="submit" class="btn btn-success float-right"><span data-feather="save"></span> Mentés</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
