﻿@model IEnumerable<ReviewAdmin.Models.Question>

@{
    ViewData["Title"] = "Kérdések";
}

<h2>Kérdések</h2>

<p>
    <a asp-action="Create" class="btn btn-success"><span data-feather="plus"></span> Új kérdés</a>
</p>
<table class="table table-hover no-wrap">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextHun)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextEng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextHun)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextEng)
                </td>
                <td>
                    @switch (item.Type)
                    {
                        case QuestionType.YesOrNo:
                            @:Eldöntendő (igen/nem)
                            break;
                        case QuestionType.FiveAnswers:
                            @:Skála (5 fokozat)
                            break;
                    }

                    @*@Html.DisplayFor(modelItem => item.Type)*@
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>

                <td class="buttons-td">
                    <a href="#" data-href="/Questions/Edit/@item.Id" data-toggle="modal" data-target="#confirm-delete" class="btn btn-info edit-link"><span data-feather="edit"></span> Módosítás</a>
                    @*<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary"><span data-feather="bar-chart-2"></span>Statisztika</a>*@
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><span data-feather="trash-2"></span> Törlés</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Folytatod?
            </div>
            <div class="modal-body">
                A módosítás hibás adatokhoz vezethet a statisztikában!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="color:#fff;"><span data-feather="trash-2"></span> Mégse</button>
                <a class="btn btn-info btn-ok" style="color:#fff;"><span data-feather="edit"></span> Módosítás</a>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.nav-link').removeClass('active');
            $('#kerdesek').addClass('active');

            $('#confirm-delete').on('show.bs.modal', function (e) {
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            });
        });
    </script>
}