﻿@model IEnumerable<ReviewAdmin.Models.Terminal>

@{
    ViewData["Title"] = "Terminálok";
}

<div class="container ml-0">
    <div class="row">
        <div class="col">
            <h2>Terminálok</h2>
        </div>
    </div>

    @{
        @:<div class="row mt-5 w-75">
            int i = 0;
            foreach (var terminal in Model)
            {
                string color = (DateTime.Now - terminal.LastAlive).TotalMilliseconds < 3600000 ? "green" : "black";
                <div class="col-4">
                    <a asp-controller="Terminals" asp-action="Edit" asp-route-id="@terminal.Name">
                        <span class="large-icon" data-feather="monitor" color="@color"></span><br />
                    </a>
                    <b>@terminal.Name</b><br />
                    Legutóbbi bejelentkezés:<br />
                    @terminal.LastAlive
                </div>
                if (i % 3 == 2)
                {
                @:</div><div class="row mt-5">
                }
            }
        @:</div>
    }

</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.nav-link').removeClass('active');
            $('#home').addClass('active');
        });

    </script>
}