﻿@model IEnumerable<ReviewAdmin.Models.Answer>

@{
    ViewData["Title"] = "Válaszok";
}

<h2>Válaszok</h2>
<table id="answersTable" class="table table-hover no-wrap" @*class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0"*@>
    <thead>
        <tr>
            <th>Kérdés</th>
            <th>Válasz</th>
            <th>Terminál</th>
            <th>Időpont</th>
            <th>Nyelv</th>
        </tr>
    </thead>
</table>

@*<p><a asp-action="Create">Create New</a></p>*@

@section scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-html5-1.5.4/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.nav-link').removeClass('active');
            $('#valaszok').addClass('active');

            $.fn.dataTable.Buttons.defaults.dom.button.className = 'btn btn-sm btn-outline-secondary';

            $("#answersTable").dataTable({
                "language": {
                    "lengthMenu": "Oldalanként _MENU_ sor",
                    "search": "Szűrés",
                    "zeroRecords": "Nincs megjejeníthető adat",
                    "info": "_PAGE_. / _PAGES_ oldal",
                    "infoEmpty": "Nincs megjeleníthető sor",
                    "infoFiltered": "(szűrve _MAX_ sorból)",
                    "paginate": {
                        "previous": "Előző",
                        "next": "Következő"
                    }
                },
                "order": [[3, "desc"]],
                dom: "<'row'<'col-sm-12 col-md-6'lB><'col-sm-12 col-md-6'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                buttons: [
                    { extend: 'excelHtml5', text:"Excel export", className: 'btn btn-sm btn-outline-secondary' },
                ],
                orderMulti: true,
                ajax: {
                    url: "/Api/Answers",
                    dataSrc: "",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization",
                            "Basic " + btoa("Termal:ApiJelszo"));
                    }
                },
                columns: [
                    { data: "questionName", autowidth: true },
                    { data: "answerValue", autowidth: true },
                    { data: "terminalName", autowidth: true },
                    { data: "dateTime", autowidth: true },
                    { data: "lang", autowidth: true},
                ]
            });
        });
    </script>
}