﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right padding-1">
            <li>
                <button type="submit" class="btn btn-sm"><span data-feather="log-out"></span> Kilépés</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (UserManager.Users.Count() == 0)
        {
            <li><a asp-area="Identity" asp-page="/Account/Register" class="btn btn-light">Regisztráció</a></li>
        }
    </ul>
}